:root{
  --black-background-color1: #161717;
  --black-background-color3: #262524;
  --black-background-color5: #424242;
  --bkack-text-primary-color: #fafafa;
  --bkack-text-secondary-color: #ffffff99;
}
.container_list_home{
  min-width: 320px;
  display: flex;
  height: 100dvh;
  background-color: var(--black-background-color1);
  flex-direction: column;
  align-items: center;
  overflow-y: scroll
}
.container_list_home::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}

.container_list_home::-webkit-scrollbar-thumb {
  background-color: var(--black-background-color5);
  border-radius: 5px;
}

.container_list_home::-webkit-scrollbar-track {
  background-color: var(--black-background-color3);
}
.load{ 
  background-color: transparent; 
  display: grid;
  place-content: center;
  height: 100vh;
  color: #000;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cargando{ 
  position: relative; 
  color: #FFF;
  margin-top: 2em;
  letter-spacing: 0.08em;
  text-transform: uppercase
}

.contenedor-loader{  
    width: 180px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 auto; 
}
.contenedor-loader div{ 
  width: 30px;
  height: 30px;
  background-color: #FFF;
  animation: salto 1s alternate
    infinite;
}
.loader1{
  border-radius: 50%;
}
.loader2{
  border-radius: 50%;
}
.loader3{
  border-radius: 50%;
}
.loader4{
  border-radius: 50%;
}
.contenedor-loader div:nth-child(2){ 
  animation-delay: 0.20s; 
}
.contenedor-loader div:nth-child(3){ 
  animation-delay: 0.40s; 
}
.contenedor-loader div:nth-child(4){ 
  animation-delay: 0.60s; 
}
@keyframes salto {
    from {
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}